
<div class="flex mb-5">
    <div class="w-3/4">
        <iframe id="player" type="text/html" width="640" height="390" 
                frameborder="0" [src]="yt_player_src | safe">
        </iframe>
    </div>
    <div class="w-1/2">
        <div class="flex justify-between">
            <span class="font-semibold">{{ video?.title }}</span>
            <span class="px-2 text-sm text-white bg-gray-700 rounded">
                {{ video?.publishedAt | date:'MMMM dd, yyyy' }}
            </span>
        </div>
        <div class="py-3">{{ video?.description }}</div>
    </div>
</div>
